.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 840px) {
    flex-direction: column;
  }
}
.image {
  max-width: 250px;
  max-height: 200px;
}
.button {
  background-color: var(--button);
  border-radius: 15px;
  display: inline-block;
  font-size: 35px;
  padding: 0px 9px;
  margin: 0 10px;
  cursor: pointer;
}
