.container {
  max-width: 1200px;
  margin: 0 auto;
}
.gif {
  width: 150px;
  height: 100px;
  background-image: url("https://giphy.com/gifs/JB7gDgg1BKjRu");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
