.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  max-width: 250px;
  max-height: 200px;
}
.button {
  //   width: 20px;
  //   height: 20px;
  background-color: var(--button);
  border-radius: 15px;
  display: inline-block;
  font-size: 35px;
  padding: 0px 9px;
  margin: 0 10px;
}
