.btn {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: var(--text);
  border: none;
  padding: 5px;
  background: var(--button);
  cursor: pointer;
  transition: all 0.5s ease-out;
  font-family: inherit;
  font-size: 18px;
}
.btn:hover {
  background: var(--button-hover);
}

.primary {
  width: 100px;
}
.s {
  width: 100px;
}
.m {
  width: 150px;
  height: 50px;
}
