.btn {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: var(--text);
  border: none;
  padding: 5px;
  background: var(--button);
  cursor: pointer;
}

.primary {
  width: 100px;
}
