.btn {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: var(--text);
  border: none;
  padding: 5px;
  background: var(--button);
  cursor: pointer;
  transition: background 0.2s;
}
.btn:hover {
  background: var(--button-hover);
}

.primary {
  width: 100px;
}
