.react-dadata__input {
  background-color: var(--secondary);
  padding: 4px 10px;
  border-radius: 15px;
  border: 1px solid var(--button);
  color: white;
  margin-top: 10px;
}
.react-dadata__input:focus {
  border: none;
}
