.react-dadata__input {
  background-color: var(--secondary);
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid var(--button);
  color: white;
  margin-top: 10px;
}
.react-dadata__suggestions {
  @media (max-width: 500px) {
    width: 155px;
  }
}
.errors {
  color: red;
  font-size: 18px;
}
.totalPrice {
  margin-top: 20px;
}
